{% extends 'base.html' %}

{% block title %}{{person.name|title}}{% endblock title %}

{% block content %}
    <h1>{{person.name|title}}</h1>
    <div class="row">
      <h4>Participante</h4>
        {% for task in tasks %}
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">
                    {% if task.task_type == "D" %}Discurso{% endif %}
                    {% if  task.task_type == "PV" %}Primeira Visita{% endif %}
                    {% if  task.task_type == "SV" %}Segunda Visita{% endif %}
                    {% if  task.task_type == "DP" %}Discurso Público{% endif %}
                  </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
      <h4>Estudante</h4>
        {% for participation in participations %}
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">
                    {% if participation.task_type == "D" %}Discurso{% endif %}
                    {% if participation.task_type == "PV" %}Primeira Visita{% endif %}
                    {% if participation.task_type == "SV" %}Segunda Visita{% endif %}
                    {% if participation.task_type == "DP" %}Discurso Público{% endif %}
                  </h5
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}